<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jxbn.kaolatt">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--设计图大小-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>


        <activity android:name=".ui.activity.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.activity.LoginActivity" android:theme="@style/SplashTheme">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.AgreementActivity"/>
        <activity android:name=".ui.activity.ForgetPwdActivity"/>
        <activity android:name=".ui.activity.PersonalInfoActivity"/>
        <activity android:name=".ui.activity.ScoreActivity"/>
        <activity android:name=".ui.activity.SettingActivity"/>
        <activity android:name=".ui.activity.AboutUsActivity"/>
        <activity android:name=".ui.activity.FeedBackActivity"/>
        <activity android:name=".ui.activity.ChangePwdActivity"/>
        <activity android:name=".ui.activity.ScoreDetailActivity"/>
        <activity android:name=".ui.activity.CouponActivity"/>
        <activity android:name=".ui.activity.OrderAllActivity"/>
    </application>

</manifest>