<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jxbn.kaolatt">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/kl_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:appComponentFactory="kla"
        tools:replace="android:appComponentFactory"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <!--设计图大小-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="667"/>


        <activity android:name=".ui.activity.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.activity.LoginActivity" android:theme="@style/SplashTheme">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.AgreementActivity"/>
        <activity android:name=".ui.activity.ForgetPwdActivity"/>
        <activity android:name=".ui.activity.PersonalInfoActivity"/>
        <activity android:name=".ui.activity.ScoreActivity"/>
        <activity android:name=".ui.activity.SettingActivity"/>
        <activity android:name=".ui.activity.AboutUsActivity"/>
        <activity android:name=".ui.activity.FeedBackActivity"/>
        <activity android:name=".ui.activity.ChangePwdActivity"/>
        <activity android:name=".ui.activity.ScoreDetailActivity"/>
        <activity android:name=".ui.activity.CouponActivity"/>
        <activity android:name=".ui.activity.OrderAllActivity"/>
        <activity android:name=".ui.activity.OrderDetailActivity"/>
        <activity android:name=".ui.activity.NickNameActivity"/>
        <activity android:name=".ui.activity.CollectionActivity"/>
        <activity android:name=".ui.activity.EvaluateActivity"/>
        <activity android:name=".ui.activity.ReturnGoodsActivity"/>
        <activity android:name=".ui.activity.DeliveryActivity"/>
        <activity android:name=".ui.activity.SearchActivity"/>
        <activity android:name=".ui.activity.MsgActivity"/>
        <activity android:name=".ui.activity.GoodsDetailActivity"/>
        <activity android:name=".ui.activity.EvaluateListActivity"/>
        <activity android:name=".ui.activity.ConfirmOrderActivity"/>
        <activity android:name=".ui.activity.PayActivity"/>
        <activity android:name=".ui.activity.PaySuccessActivity"/>
        <activity android:name=".ui.activity.AddressListActivity"/>
        <activity android:name=".ui.activity.AddAddressActivity"/>
        <activity android:name=".ui.activity.GoodsFamousActivity"/>
        <activity android:name=".ui.activity.WebViewActivity"/>
        <activity android:name=".ui.activity.GoodsListActivity"/>

        <!--支付开始-->
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- alipay sdk end -->
        <!--微信回调-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>